    <header>
      <div class="upper-header">
        <div class="cbc-wrap">
          <h1 class="site-logo">
            <a href="#">
              <img src="{{ directory }}/images/logo.png" alt="Tripogater">
            </a>
          </h1>
          <a href="#" class="login-signup">Login / Signup</a>
        </div>
      </div><!--/upper-header-->
      <div class="bottom-header">
        <div class="cbc-wrap">
          <h2>Travel Quotes Made Easy</h2>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Why Tripogater?</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
          <div class="clr"></div>
        </div>
      </div><!--/bottom-header-->
    </header>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="slider-overlay"></div>
          <img class="first-slide" src="{{ directory }}/images/slider-1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Why not use Tripogater to book your next trip?</h1>
              <p>We save you time and money guaranteed!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slider-overlay"></div>
          <img class="second-slide" src="{{ directory }}/images/slider-2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slider-overlay"></div>
          <img class="third-slide" src="{{ directory }}/images/slider-3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <div class="main-content">

      <div class="cbc-wrap">
        <div class="video-wrap">
          <video width="600" controls>
            <source src="{{ directory }}/videos/Heaven.mp4" type="video/mp4">
            <source src="{{ directory }}/videos/Heaven.ogv" type="video/ogg">
            <source src="{{ directory }}/videos/Heaven.webm" type="video/ogg">
              Your browser does not support the video tag.
          </video>
        </div><!--/video-wrap-->
        <p class="cta">Are you sick of having to book your own holiday trip?</p>
        <div class="squares-wrap">
          <a href="#">
            <div class="cta-square">
              <p>Call Now</p>
              <p>For a Travel Quote.</p>
              <p>It’s Free!</p>
            </div>
          </a>
          <a href="#">
            <div class="cta-square">
              <p>Submit Your</br>
              Details</p>
              <p>Receive Travel Quotes.</p>
              <p>Completely Free!</p>
            </div>
          </a>
          <div class="clr"></div>
        </div><!--/squares-wrap-->
        <p class="cta">At Tripogater we believe that travel should be fun!
        Simply give us a call or fill out our questionnaire and we will
        organise for multiple travel agents to submit a quote.
        it couldn’t be easier.</p>
      </div><!--/cbc-wrap-->

    </div><!--/main-content-->

    <footer>
      <div class="decorater"></div>
      <div class="upper-footer">
        <div class="cbc-wrap">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Why Tripogater?</a></li>
              <li><a href="#">Agent Membership</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
          <nav>
            <ul>
              <li><a href="#" class="fa fa-facebook-square"></a></li>
              <li><a href="#" class="fa fa-twitter-square"></a></li>
              <li><a href="#" class="fa fa-google-plus-square"></a></li>
              <li><a href="#" class="fa fa-pinterest-square"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
          </nav>
          <div class="clr"></div>
        </div><!--/cbc-wrap-->
      </div><!--/upper-footer-->
      <div class="bottom-footer">
        <div class="cbc-wrap">
          <span>Copyright 2017</span>
          <span>Development by <a href="#">CircleBC</a></span>
        </div><!--/cbc-wrap-->
      </div><!--/bottom-footer-->
    </footer>
